@media screen and (min-width: 768px) {
  .main-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1000px;
  }
  .submit-btn {
    margin-left: 5%;
    margin-top: 0%;
  }
  .characters {
    top: 45%;
  }
  .quote-container {
    margin-top: 7%;
    /* margin-left: 5%; */
  }
  .btn-container {
    margin-top: 7%;
  }
  .character-list {
    top: 90%;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .box {
      transform: scale(2);
    }
  }
}
