.confetti-container {
  width: 90%;
  height: 50%;
  position: absolute;
  top: 20%;
  z-index: -1;
}
.confetti {
  width: 15px;
  height: 15px;
  background-color: var(--candy-pink);
  position: absolute;
  left: 50%;
  animation: confetti 5s ease-in-out -2s infinite;
  transform-origin: left top;
}
.confetti:nth-child(1) {
  background-color: var(--middle-blue);
  left: 70%;
  animation-delay: 0;
}
.confetti:nth-child(2) {
  background-color: var(--minion);
  left: 80%;
  animation-delay: -5s;
}
.confetti:nth-child(3) {
  background-color: var(--candy-pink);
  left: 50%;
  animation-delay: -3s;
}
.confetti:nth-child(4) {
  background-color: var(--minion);
  left: 40%;
  animation-delay: -2.5s;
}
.confetti:nth-child(5) {
  background-color: var(--middle-blue);
  left: 50%;
  animation-delay: -4s;
}
.confetti:nth-child(6) {
  background-color: var(--candy-pink);
  left: 80%;
  animation-delay: -6s;
}
.confetti:nth-child(7) {
  background-color: var(--minion);
  left: 70%;
  animation-delay: -1.5s;
}
.confetti:nth-child(8) {
  background-color: var(--middle-blue);
  left: 20%;
  animation-delay: -2s;
}
.confetti:nth-child(9) {
  background-color: (--candy-pink);
  left: 40%;
  animation-delay: -3.5s;
}
.confetti:nth-child(10) {
  background-color: var(--minion);
  left: 100%;
  animation-delay: -2.5s;
}
.confetti:nth-child(11) {
  background-color: var(--candy-pink);
  left: 15%;
  animation-delay: 0;
}
.confetti:nth-child(12) {
  background-color: var(--middle-blue);
  left: 25%;
  animation-delay: -5s;
}
.confetti:nth-child(13) {
  background-color: var(--candy-pink);
  left: 35%;
  animation-delay: -3s;
}
.confetti:nth-child(14) {
  background-color: var(--minion);
  left: 90%;
  animation-delay: -2.5s;
}
.confetti:nth-child(15) {
  background-color: var(--middle-blue);
  left: 55%;
  animation-delay: -4s;
}
.confetti:nth-child(16) {
  background-color: var(--candy-pink);
  left: 65%;
  animation-delay: -6s;
}
.confetti:nth-child(17) {
  background-color: var(--minion);
  left: 75%;
  animation-delay: -1.5s;
}
.confetti:nth-child(18) {
  background-color: var(--middle-blue);
  left: 85%;
  animation-delay: -2s;
}
.confetti:nth-child(19) {
  background-color: var(--candy-pink);
  left: 95%;
  animation-delay: -3.5s;
}
.confetti:nth-child(20) {
  background-color: var(--minion);
  left: 100%;
  animation-delay: -2.5s;
}

@keyframes confetti {
  0% {
    transform:
    /* rotateZ(15deg) */ rotateY(0deg) translate(0, 0);
  }
  25% {
    transform:
    /* rotateZ(5deg) */ rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    transform:
    /* rotateZ(15deg) */ rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    transform:
    /* rotateZ(5deg) */ rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    transform:
    /* rotateZ(15deg) */ rotateY(1440deg) translate(10vw, 110vh);
  }
}
@-webkit-keyframes confetti {
  0% {
    -webkit-transform:
    /* rotateZ(15deg) */ rotateY(0deg) translate(0, 0);
  }
  25% {
    -webkit-transform:
    /* rotateZ(5deg) */ rotateY(360deg)
      translate(-5vw, 20vh);
  }
  50% {
    -webkit-transform:
    /* rotateZ(15deg) */ rotateY(720deg)
      translate(5vw, 60vh);
  }
  75% {
    -webkit-transform:
    /* rotateZ(5deg) */ rotateY(1080deg)
      translate(-10vw, 80vh);
  }
  100% {
    -webkit-transform:
    /* rotateZ(15deg) */ rotateY(1440deg)
      translate(10vw, 110vh);
  }
} ;
