@media screen and (min-width: 768px) {
  .main-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1000px;
  }
  .heading {
    margin-top: 5%;
  }
  .characters {
    top: 45%;
  }
  h1 {
    font-size: 5rem;
  }
  .quote-container {
    margin-top: 7%;
  }
  .btn-container {
    margin-top: 7%;
  }
  .character-list {
    top: 90%;
  }
  .confetti-container {
    width: 50%;
  }
}
