@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500;700&display=swap');
:root {
  --timber-grey: #d7d9ce;
  --timber-darker: #a8aaa1;
  --timber-dark: #777972;
  --middle-blue: #23305c;
  --dark-blue: #0e1a40;
  --candy-pink: #dd7373;
  --minion:#EAD94C;

  -webkit-appearance: none;
}
@font-face {
  font-family: 'Dont Click Me';
  src: url('/Fonts/DontClickMeDEMO-Regular.woff2') format('woff2');
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 2000px;
  font-family: 'Source Code Pro', monospace;
  background-color: var(--timber-grey);
  color: var(--dark-blue);
}

.heading {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
}
svg {
  height: 75px;
  margin: auto;
  animation: rotateY 2s 3;
  -webkit-animation: rotateY 2s 3;
  animation-timing-function: linear;
}
@keyframes rotateY {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

svg:hover {
  color: var(--viridan-green);
}
h1 {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-family: 'Dont Click Me';
  font-size: 3rem;
}
h1:hover {
  color: var(--viridan-green);
}
.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}
/* Entire input field */
.input-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Textbox and button  */
.input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.submit-btn {
  width: 100px;
  margin-top: 5%;
}
.text-input {
  width: 170px;
  height: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}
.name {
  text-align: center;
  height: 45px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 0.8rem;
}

/* The section with boxes */
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 300px;
  padding-top: 5%;
  z-index: 99;
}
.box {
  height: 45px;
  width: 45px;
}

/* CHARACTER IMAGES */
.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
}
.character {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin: 1%;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
button {
  height: 40px;
  width: 170px;
  border-radius: 5%;
  border: var(--middle-blue) 3px solid;
  background: transparent;
  font-size: 1rem;
  color: var(--dark-blue);
  font-family: 'Source Code Pro', monospace;
}
button:hover {
  background-color: var(--middle-blue);
  color: var(--timber-grey);
}

/* QUOTES */
.quote-container {
  display: flex;
  justify-content: center;
  z-index: 99;
}
.quote-card {
  height: 250px;
  width: 350px;
  background-color: var(--candy-pink);
  border-radius: 5%;
  padding: 5%;
}

/* VINGARDIUM */
.fly-away {
  animation: flyAway 3s;
  animation-fill-mode: forwards;
}
@keyframes flyAway {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-350px);
    opacity: 0;
  }
}

/* LIST OF CHARACTERS */
.character-list {
  position: absolute;
  /* top: 80%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15%;
}

.avada-kedavra-btn {
  width: 270px;
  height: 50px;
  margin-bottom: 10%;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Engorgio */
.check-five {
  height: 200px;
  width: 200px;
  transition: 2s ease-in-out;
}
.Engorgio-text {
  text-align: center;
}
/* CLASSES FOR HIDING */
.hidden {
  opacity: 0;
  transition: 2s;
}
.gone {
  display: none;
}
